---
layout: default
---

<!-- _layouts/cv.html -->
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }} <a href="{{ 'assets/pdf/shuwan_CV.pdf' | relative_url }}" target="_blank" rel="noopener noreferrer" class="float-right"><i class="fas fa-file-pdf"></i></a></h1>
    {% if page.description %}<p class="post-description">{{ page.description }}</p>{% endif %}
  </header>

</div>

<style>
  .cv-button {
    display: inline-block;
    padding: 10px 15px;
    background-color: #007bff; /* Adjust color as needed */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .cv-button:hover {
    background-color: #0056b3; /* Darker shade for hover effect */
  }
  </style>